<footer id="site-footer">
	
	<div class="container footer">

		<aside id="footer--wordmark">
			
			<p class="footer--wordmark">learn about tech</p>
			<p><a href="//www.learnabout.tech/" class="footer--site-link">learnabout.tech</a></p>
			
		</aside>
		
		<nav id="footer--links">
			
			{% if site.menu-footer != false %}
			<ul>
				{% if site.data.footer-menu %}
					{% for item in site.data.footer-menu %}
					<li><a href="{{ item.link }}" class="footer--nav-link" title="Visit the {{ item.label }} page">{{ item.label }}</a></li>
					{% endfor %}
				{% endif %}
			</ul>
			{% endif %}	
			
		</nav>
	
	</div>
	
</footer>